<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="false">

    <bean id="environmentFactory" class="org.jbpm.pvm.internal.cfg.SpringConfiguration" scope="singleton" />

    <bean id="commandService" class="org.jbpm.pvm.internal.spring.SpringCommandService" scope="singleton">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="environmentFactory" ref="environmentFactory" />
    </bean>

    <bean id="processService" class="com.family168.jbpm.SpringProcessService" scope="singleton">
        <property name="repositoryService" ref="repositoryService"/>
    </bean>

    <bean id="repositoryService" class="com.family168.jbpm.SpringRepositoryService" scope="singleton">
        <property name="commandService" ref="commandService" />
    </bean>

    <bean id="repositoryCacheFactory" class="com.family168.jbpm.RepositoryCacheFactory" scope="singleton"/>

    <bean id="repositoryCache" factory-bean="repositoryCacheFactory" factory-method="getRespositoryCache" scope="prototype" />

    <bean id="repositorySession" class="com.family168.jbpm.SpringRepositorySession" scope="prototype">
        <property name="session" ref="session" />
        <property name="repositoryCache" ref="repositoryCache" />
        <property name="deployerManager" ref="deployerManager" />
    </bean>

    <bean id="executionService" class="org.jbpm.pvm.internal.svc.ExecutionServiceImpl" scope="singleton">
        <property name="commandService" ref="commandService" />
    </bean>

    <bean id="historyService" class="org.jbpm.pvm.internal.svc.HistoryServiceImpl" scope="singleton"/>

    <bean id="taskService" class="org.jbpm.pvm.internal.svc.TaskServiceImpl" scope="singleton">
        <property name="commandService" ref="commandService" />
    </bean>

    <bean id="hibernateSessionManager" class="org.jbpm.pvm.internal.spring.HibernateSessionManager" scope="singleton">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="session" factory-bean="hibernateSessionManager" factory-method="getSession" scope="prototype" />

    <bean id="taskDbSession" class="org.jbpm.pvm.internal.hibernate.HibernateTaskDbSession" scope="prototype">
        <property name="session" ref="session"/>
    </bean>

    <bean id="jobDbSession" class="org.jbpm.pvm.internal.hibernate.HibernateJobDbSession"  scope="prototype">
        <property name="session" ref="session" />
    </bean>

    <bean id="pvmDbSession" class="org.jbpm.pvm.internal.hibernate.HibernatePvmDbSession" scope="prototype">
        <property name="session" ref="session"/>
    </bean>

    <bean id="historySession" class="org.jbpm.pvm.internal.history.HistorySessionImpl" scope="singleton"/>

    <bean id="idGenerator" class="org.jbpm.pvm.internal.model.DefaultIdGenerator" scope="prototype"/>

    <bean id="transaction" class="org.jbpm.pvm.internal.tx.StandardTransaction" scope="prototype"/>

    <bean id="deployerManager" class="com.family168.jbpm.SpringDeployerManager" scope="prototype">
        <property name="deployers">
            <list>
                <bean class="com.family168.jbpm.SpringJpdlDeployer" scope="prototype"/>
            </list>
        </property>
    </bean>

    <bean id="typeSet" class="com.family168.jbpm.VariableTypeSet" init-method="init" scope="prototype">
        <property name="typeConfig" value="jbpm.variable.types.xml" />
    </bean>

    <bean id="scriptManagerFactory" class="com.family168.jbpm.ScriptManagerFactory"/>

    <bean id="scriptManager" factory-bean="scriptManagerFactory" factory-method="getScriptManager" scope="prototype"/>

    <bean id="blobStrategy" class="org.jbpm.pvm.internal.lob.BlobStrategyBinary"/>

    <bean id="clobStrategy" class="org.jbpm.pvm.internal.lob.ClobStrategyText"/>

</beans>
