<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="false" default-autowire="byName">

    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="userManager"/>
        <property name="targetMethod" value="check"/>
    </bean>

    <bean id="userManager" class="com.family168.UserManager"/>

    <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
        <!--<property name="dataSource" ref="dataSource"/> -->
        <property name="configLocation" value="classpath:conf/quartz.properties"/>
    </bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="jobDetail"/>
        <!--朝九晚五工作时间内每半小时执行一次-->
        <property name="cronExpression" value="0 0/30 9-17 *,* * ?"/>
    </bean>

</beans>
