body {
    font-size: 14px;
}

A {
    color:#000000;
    text-decoration: underline;
}

A:link {
    color:#000000;
    text-decoration: underline;
}

A:active {
    color: #000000;
    text-decoration: underline;
}

A:hover {
    color: #FFFFFF;
    background: green;
    text-decoration: underline;
}

A:visited {
    text-decoration: underline;
}

P, OL, UL, LI, DL, DT, DD, BLOCKQUOTE {
    color: #000000;
}

P {
    padding-left:20px;
    text-indent: 28px;
}

LI P {
    padding-left:5px;
    text-indent: 0px;
}

.titlepage div div p {
    text-indent: 0px;
}

TD, TH, SPAN {
    color: #000000;
}

BLOCKQUOTE {
    padding: 10px;
    margin: 10px;
    border: 1px gray solid;
}

BLOCKQUOTE P {
    padding:2px;
    margin:0px;
}


H1, H2, H3, H4, H5, H6    {
    color: #000000;
    font-weight:500;
    margin-top:10px;
    padding-top:15px;
}

TABLE  {
    border-collapse: collapse;
    border-spacing:0;
    border: 1px thin black;
    empty-cells: hide;
}

TD  {
    padding: 4pt;
}

H1 {
    padding-left:2px;
    border-left: 4px solid green;
    border-bottom: 1px solid green;
    font-size: 150%;
    background: #BBFFDD;
}
H2 {
    border-left: 4px solid green;
    border-bottom: 1px solid green;
    font-size: 140%;
    background: #BBFFDD;
}
H3 { font-size: 130%; font-weight: bold; }
H4 { font-size: 120%; font-weight: bold;}
H5 { font-size: 110%; font-style: italic; }
H6 { font-size: 100%; font-style: italic; }

TT {
    font-size: 90%;
    font-family: "Courier New", Courier, monospace;
    color: #000000;
}

PRE {
    font-size: 100%;
    padding: 5px;
    margin-left: 20px;
    border: 1px green dashed;
    background-color: #F4F4F4;
}

OL, LI {
}

UL {
    list-style: disc;
}

HR  {
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    border-width: 0px;
    padding: 0px;
    color: #CCCCCC;
}

.variablelist {
    padding-top: 10;
    padding-bottom:10;
    margin:0;
}

.itemizedlist, UL {
    padding-top: 0;
    padding-bottom:0;
    margin:0;
}

UL {
    margin: auto;
}

.term {
    font-weight:bold;
}

DIV.tip {
    border: 1px gray dashed;
    padding:5px;
}

DIV.tip h3 {
    background:url(../images/tip.png) no-repeat;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:25px;
    margin:0px;
    font-weight:normal;
    visibility:show;
}

DIV.note {
    border: 1px gray dashed;
    padding:5px;
}

DIV.note h3 {
    background:url(../images/note.png) no-repeat;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:25px;
    margin:0px;
    font-weight:normal;
    visibility:show;
}

.emphasis {
    font-weight: bold;
}

.emphasis em {
    font-style: normal;
}

