<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:amq="http://activemq.apache.org/schema/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.2.0.xsd">

    <amq:broker useJmx="false" persistent="false">
        <amq:transportConnectors>
            <amq:transportConnector uri="tcp://localhost:0" />
        </amq:transportConnectors>
    </amq:broker>

    <amq:connectionFactory id="jmsConnectionFactory" brokerURL="vm://localhost"/>

    <amq:queue name="destination" physicalName="org.apache.activemq.spring.Test.spring.embedded"/>

    <bean id="server" class="com.family168.lingo.OneWayServer">
        <property name="service">
            <bean class="com.family168.lingo.UserCheckImpl"/>
        </property>
        <property name="serviceInterface" value="com.family168.lingo.UserCheck"/>
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
        <property name="destination" ref="destination"/>

        <!-- enable async -->
        <property name="metadataStrategy">
            <bean class="org.logicblaze.lingo.SimpleMetadataStrategy">
                <constructor-arg value="true"/>
            </bean>
        </property>
    </bean>

</beans>

